# Created by .ignore support plugin (hsz.mobi)
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/pyspark_ml_classification_and_regression.iml
.idea/workspace.xml
/.idea/vcs.xml
derby.log
metastore_db/
spark-warehouse/
target/
/.idea/inspectionProfiles/Project_Default.xml
/.gitignore
